{% extends "templates/main_template.html"%}
{% block title %}
Debugging Coding Test
{% endblock %}

{% block customize_css %}
<style>
  #notification-container>.toast {
    max-width: none;
    /* 최대 넓이 제한 없애기 */
    width: auto;
    /* 내용에 따라 넓이 자동 조정 */
  }

  .td-setup-min-width {
    max-width: 7rem;
    /* 원하는 최소 넓이 값으로 조정 */
  }

  .max-width-td {
    max-width: 15rem; /* 원하는 최대 넓이로 설정 */
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
</style>
{% endblock %}

{% block main_container %}
<form>
  <div class="row">
    <div class="col-2 form-group">
      <select class="form-select" name="key_name">
        <option value="title" {{ 'selected' if request._query_params.key_name=='title' else '' }}>
          Title</option>
        <option value="create_user_name" {{ 'selected' if request._query_params.key_name=='create_user_name' else '' }}>
          Author</option>
        <option value="refer_kind_name" {{ 'selected' if request._query_params.key_name=='refer_kind_name' else '' }}>
          Reference Type</option>
      </select>
    </div>
    <div class="col-5">
      <input class="form-control" placeholder="Enter search term!" name="word" value="{{request._query_params.word}}">
    </div>
    <div class="col-5 form-group d-flex justify-content-between">
      <button type="submit" class="btn btn-primary" formaction="/{{main_router}}/list" formmethod="get">
        Search
      </button>
      {% if (request.state.user and request.state.user.roles and main_router == 'boards')
      or ("ADMIN" in request.state.user.roles) %}
      <button type="submit" class="btn btn-danger" formaction="/{{main_router}}/form" formmethod="get">
        New Post
      </button>
      {% endif %}
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr class="text-center">
        <th>Number</th>
        <th>Title</th>
        <th>Author</th>
        <th>Reference Type</th>
        <th>Creation Date</th>
      </tr>
    </thead>
    <tbody>
      {% for board in boards %}
      <tr>
        <td>{{pagination.start_record_number + loop.index}}</td>
        <td class="max-width-td">
          <a href="/{{main_router}}/{{ board.id }}" class="text-decoration-none">{{ board.title }}</a>
        </td>
        <td>{{board.create_user_name}}</td>
        <td>{{board.refer_kind_name}}</td>
        <td>{{board.create_date}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  {% block paginations_container %}
  {% include 'templates/pagination_template.html' %}
</form>

{% endblock %}

{% block foot_javascripts %}

{% endblock %}