{% extends "templates/main_template.html"%}
{% block title %}
Common Codes List
{% endblock %}

{% block main_container %}
<form>
  <div class="row">
    <div class="col-2">
      <select class="form-control" name="filter_key">
        <option value="code_category">Category</option>
        <option value="code_classification">Classification</option>
      </select>
    </div>
    <div class="col-6">
      <input class="form-control" placeholder="Enter Search!" name="search_word">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary" formaction="/common-codes/list"
        formmethod="get">Search</button>
    </div>
  </div>
  <h3>Common Codes List</h3>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Category</th>
        <th>Classification</th>
        <th>Order</th>
        <th>Name</th>
        <th>Description</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for code in common_codes %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ code.code_category }}</td>
        <td>{{ code.code_classification }}</td>
        <td>{{ code.order }}</td>
        <td>{{ code.name }}</td>
        <td>{{ code.description }}</td>
        <td>
          <button formaction="/common-codes/edit/{{code.id}}">Edit</button>
          <button formaction="/common-codes/delete/{{code.id}}">Delete</button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block paginations_container %}
  <!-- Pagination logic here, similar to the included 'templates/pagination_template.html' -->
</form>
{% endblock %}
