# data analysis
jupyterlab
pyarrow
pandas
numpy
matplotlib
seaborn
scipy
wget
pymongo

# web scrapping
requests
beautifulsoup4
lxml
pandas
selenium
urllib3
scrapy
webdriver_manager

# fastapi
fastapi
pydantic
uvicorn
jinja2
python-multipart
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings