{% extends "templates/main_template.html" %}

{% block title %}communiti Details{% endblock %}

{% block customize_css %}
<!-- Include Quill stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.snow.css" rel="stylesheet" />
<style>
    .quill-editor {
        height: 10rem;
    }
</style>
{% endblock %}

{% block main_container %}
<form action="" method="post">
    <div class="row gap-3 px-5">
        <!-- Language Selection -->
        <div class="form-group row">
            <div class="col-4">
                <label class="col form-label">Language:</label>
                <div class="col">
                    <!-- Display the conversation language -->
                    <pre class="pre-scrollable border p-2" id="conversation_language">{{community.conversation_language}}</pre>
                </div>
            </div>
            <!-- Activity Type -->
            <div class="col-4">
                <label class="form-label col">Activity Type:</label>
                <div class="col">
                    <!-- Display the activity type -->
                    <pre class="pre-scrollable border p-2" id="activity_type">{{community.activity_type}}</pre>
                </div>
            </div>
            <!-- Needs Level -->
            <div class="col-4">
                <label class="form-label col">Needs Level:</label>
                <div class="col">
                    <!-- Display the needs level -->
                    <pre class="pre-scrollable border p-2" id="needs_level">Lv. {{ community.needs_level}}</pre>
                </div>
            </div>
        </div>
        <!-- Title and Description -->
        <div class="form-group col-12">
            <label for="title" class="form-label">Title:</label>
            <!-- Display the title -->
            <input type="text" class="form-control" id="title" name="title" value="{{ community.title }}" readonly>
        </div>
        <div class="form-group col-12">
            <label class="form-label">Description:</label>
            <!-- Description using a rich text editor for more complex inputs -->
            <div id="description_delta" class="quill-editor"></div>
        </div>
        <!-- communities ID (Hidden) -->
        <input type="hidden" name="communities_id" value="{{community.communities_id}}">
        <!-- Action Buttons -->
        <div class="col-12 d-flex justify-content-end">
            <div class="form-group">
                <!-- Conditional display based on user role and ownership -->
                {% if (request.state.user.id == community.create_user_id) or "ADMIN" in request.state.user.roles %}
                <button type="submit" class="btn btn-primary" formaction="/{{main_router}}/update/{{ community.id }}" formmethod="get">
                    Update
                </button>
                <button type="submit" class="btn btn-danger" formaction="/{{main_router}}/{{ community.id }}" formmethod="post">
                    Delete
                </button>
                {% endif %}
                <button type="submit" class="btn btn-primary" formaction="/{{main_router}}/list" formmethod="get">
                    List
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}
{% block foot_javascripts %}
<!-- Include Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let quillDescription = new Quill('#description_delta', {
            theme: 'snow',
            readOnly: true, // 읽기 전용 모드 활성화
            modules: {
                toolbar: false // 툴바 제거
            }
        });

    let deltaObject = JSON.parse({{ communiti.description | tojson }});
    quillDescription.setContents(deltaObject);
    let downloadLink = document.querySelector('#download_all');

    downloadLink.addEventListener('click', function (e) {
        e.preventDefault(); // 기본 링크 동작 방지
        window.location.href = downloadLink.getAttribute('href'); // 파일 다운로드 시작
        });
    });
</script>
{% endblock %}