{% extends "templates/main_template.html" %}

{% block title %}communiti Details{% endblock %}

{% block customize_css %}
<!-- Include Quill stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.snow.css" rel="stylesheet" />
<style>
    .quill-editor {
        height: 10rem;
    }
</style>
{% endblock %}

{% block main_container %}
<form action="" method="post">
    <div class="row gap-3 px-5">
        <!-- Language -->
        <div class="form-group col-6">
            <label for="conversation_language" class="form-label">Conversation Language:</label>
            <input type="text" class="form-control" id="conversation_language" name="conversation_language" value="{{ community.conversation_language }}">
        </div>
        
        <!-- Title -->
        <div class="form-group col-6">
            <label for="title" class="form-label">Title:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ community.title }}">
        </div>

        <!-- Description -->
        <div class="form-group col-12">
            <label for="description" class="form-label">Description:</label>
            <textarea class="form-control" id="description" name="description">{{ community.description }}</textarea>
        </div>

        <!-- Activity Type -->
        <div class="form-group col-6">
            <label for="activity_type" class="form-label">Activity Type:</label>
            <select class="form-control" id="activity_type" name="activity_type">
                <option value="Code Review" {{ "selected" if community.activity_type == "Code Review" }}>Code Review</option>
                <option value="Coding Test" {{ "selected" if community.activity_type == "Coding Test" }}>Coding Test</option>
                <option value="Team Project" {{ "selected" if community.activity_type == "Team Project" }}>Team Project</option>
            </select>
        </div>

        <!-- Needs Level -->
        <div class="form-group col-6">
            <label for="needs_level" class="form-label">Needs Level:</label>
            <input type="number" class="form-control" id="needs_level" name="needs_level" value="{{ community.needs_level }}">
        </div>

        <!-- Description Private -->
        <div class="form-group col-12">
            <label for="description_private" class="form-label">Description Private:</label>
            <textarea class="form-control" id="description_private" name="description_private">{{ community.description_private }}</textarea>
        </div>

        <!-- Recruitment Period Start -->
        <div class="form-group col-6">
            <label for="recruitment_period_start" class="form-label">Recruitment Period Start:</label>
            <input type="date" class="form-control" id="recruitment_period_start" name="recruitment_period_start" value="{{ community.recruitment_period_start }}">
        </div>

        <!-- Recruitment Period End -->
        <div class="form-group col-6">
            <label for="recruitment_period_end" class="form-label">Recruitment Period End:</label>
            <input type="date" class="form-control" id="recruitment_period_end" name="recruitment_period_end" value="{{ community.recruitment_period_end }}">
        </div>

        <!-- Recruitment Number -->
        <div class="form-group col-6">
            <label for="recruitment_number" class="form-label">Recruitment Number:</label>
            <input type="number" class="form-control" id="recruitment_number" name="recruitment_number" value="{{ community.recruitment_number }}">
        </div>

        <!-- Activity Period Start -->
        <div class="form-group col-6">
            <label for="activity_period_start" class="form-label">Activity Period Start:</label>
            <input type="date" class="form-control" id="activity_period_start" name="activity_period_start" value="{{ community.activity_period_start }}">
        </div>

        <!-- Activity Period End -->
        <div class="form-group col-6">
            <label for="activity_period_end" class="form-label">Activity Period End:</label>
            <input type="date" class="form-control" id="activity_period_end" name="activity_period_end" value="{{ community.activity_period_end }}">
        </div>

        <!-- Visibility -->
        <div class="form-group col-6">
            <label for="visibility" class="form-label">Visibility:</label>
            <select class="form-control" id="visibility" name="visibility">
                <option value="public" {{ "selected" if community.visibility == "public" }}>Public</option>
                <option value="private" {{ "selected" if community.visibility == "private" }}>Private</option>
                <option value="restricted" {{ "selected" if community.visibility == "restricted" }}>Restricted</option>
            </select>
        </div>
        
        <!-- Buttons -->
        <div class="col-12 d-flex justify-content-end">
            <div class="form-group">
                {% if (request.state.user.id == community.create_user_id) or "ADMIN" in request.state.user.roles %}
                <button type="submit" class="btn btn-primary" formaction="/communities/update/{{ community.id }}"
                    formmethod="get">
                    Update
                </button>
                <button type="submit" class="btn btn-danger" formaction="/communities/{{ community.id }}"
                    formmethod="post">
                    Delete
                </button>
                {% endif %}
                <button type="submit" class="btn btn-primary" formaction="/communities/list" formmethod="get">
                    List
                </button>
            </div>
        </div>
    </div>
</form>


{% endblock %}
{% block foot_javascripts %}
<!-- Include Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let quillDescription = new Quill('#description_delta', {
            theme: 'snow',
            readOnly: true, // 읽기 전용 모드 활성화
            modules: {
                toolbar: false // 툴바 제거
            }
        });

    let deltaObject = JSON.parse({{ community.description | tojson }});
    quillDescription.setContents(deltaObject);
    let downloadLink = document.querySelector('#download_all');

    downloadLink.addEventListener('click', function (e) {
        e.preventDefault(); // 기본 링크 동작 방지
        window.location.href = downloadLink.getAttribute('href'); // 파일 다운로드 시작
        });
    });
</script>
{% endblock %}