{% extends "templates/main_template.html" %}

{% block title %}CoModule Details{% endblock %}

{% block main_container %}
<div class="container">
    <h2>CoModule Details: {{ comodule.title }}</h2>
    <div class="row">
        <div class="col-md-2"><strong>Language ID:</strong></div>
        <div class="col-md-10">{{ comodule.language_name }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Framework ID:</strong></div>
        <div class="col-md-10">{{ comodule.framework_name }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Database ID:</strong></div>
        <div class="col-md-10">{{ comodule.database_name }}</div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Docker File Links:</strong></div>
        <div class="col-md-10">
            {% for link in comodule.docker_files_links %}
                <a href="{{ link }}" class="d-block">{{ link }}</a>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-2"><strong>Required Package Versions:</strong></div>
        <div class="col-md-10">{{ comodule.required_packages_versions }}</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <a href="/comodules" class="btn btn-primary">Back to List</a>
        </div>
    </div>
</div>
{% endblock %}
