{% extends "templates/main_template.html"%}
{% block title %}
Debugging Coding Test 
{% endblock %}

{% block main_container %}
<form>
  <!-- 검색 항목 추가 필요 -->
  <div class="row">
    <div class="col-2">
      <select class="form-control" name="key_name">
        <option value="title" {{ 'selected' if request._query_params.key_name=='title' else '' }}>title</option>
        <option value="" {{ 'selected' if request._query_params.key_name=='email' else '' }}>email</option>
      </select>
    </div>
    <div class="col-6">
      <input class="form-control" placeholder="Enter Search!" name="word" value="{{request._query_params.word}}">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary" formaction="/comodules/list"
        formmethod="get">검색</button>
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>title</th>
        <th>language</th>
        <th>framework</th>
        <th>databases</th>
        <th>Read</th>
      </tr>
    </thead>
    <tbody>
      {% for comodule in comodules %}
      <tr>
        <td>{{pagination.start_record_number + loop.index}}</td>
        <td>{{comodule.title}}</td>
        <td>{{comodule.language_name}}</td>
        <td>{{comodule.framework_name}}</td>
        <td>{{comodule.databases_name}}</td>
        <td><button formaction="/comodules/read/{{comodule.id}}">read</button></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
{% block paginations_container %}
  {% include 'templates/pagination_template.html' %}
</form>
{% endblock %}