{% extends "templates/main_template.html"%}

<!-- Customize CSS -->
{% block customize_css %}
<style>
  .vertical-lines-table td,
  .vertical-lines-table th {
    border: none; /* Removes default Bootstrap borders */
    border-left: 1px solid #dee2e6; /* Adds vertical border to the left of each cell */
    border-right: 1px solid #dee2e6; /* Adds vertical border to the left of each cell */
  }
  .vertical-lines-table tr:first-child th {
    border-top: none; /* Removes top border for the first row */
  }
  .vertical-lines-table {
    border-collapse: separate;
  }
</style>
{% endblock %} {% block main_container %}
<div class="row">
  <div class="col-6">
    <table class="table text-center vertical-lines-table" id="interactiveTable">
      <thead class="">
        <tr>
          <th>Langauge</th>
          <th>Framework</th>
          <th>Databases</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><button type="button" class="btn btn-light">Java</button></td>
          <td>
            <button type="button" class="btn btn-light">ASP.NET MVC</button>
          </td>
          <td><button type="button" class="btn btn-light">MySQL</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-light">PHP</button></td>
          <td><button type="button" class="btn btn-light">Spring</button></td>
          <td><button type="button" class="btn btn-light">MongoDB</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-light">Python</button></td>
          <td>
            <button type="button" class="btn btn-light">Django ORM</button>
          </td>
          <td>
            <button type="button" class="btn btn-light">PostgreSQL</button>
          </td>
        </tr>
        <tr>
          <td>
            <button type="button" class="btn btn-light">Javascript</button>
          </td>
          <td><button type="button" class="btn btn-light">Ajax</button></td>
          <td><button type="button" class="btn btn-light">Mongoose</button></td>
        </tr>
        <tr>
          <td><button type="button" class="btn btn-light">Node.js</button></td>
          <td><button type="button" class="btn btn-light">React</button></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-6 row">
    <div class="co-12">
      <div class="card p-2">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="검색어..." />
          <button type="submit" class="btn btn-secondary">검색</button>
        </div>
      </div>
      <nav class="mt-1" aria-label="Page navigation">
    <ul class="pagination pagination-sm justify-content-center">
        <li class="page-item {{ '' if pagination.has_previous_block else 'disabled' }}">
          <button type="submit" class="page-link" formaction="/users/list/{{pagination.first_page}}">
            맨 처음
          </button>
        </li>
        <li class="page-item {{ '' if pagination.has_previous_page else 'disabled' }}">
          <button type="submit" class="page-link"
            formaction="/users/list/{{pagination.previous_page}}">이전</button>
        </li>
        {% for page_num in pagination.current_page_range %}
        <li class="page-item {{ 'active' if page_num == pagination.current_page else '' }}">
          <button type="submit" class="page-link" formaction="/users/list/{{ page_num }}"> 
            {{page_num}}
          </button>
        </li>
        {% endfor %}
        <li class="page-item {{ '' if pagination.has_next_page else 'disabled' }}">
          <button type="submit" class="page-link"
            formaction="/users/list/{{ pagination.next_page }}">다음</button>
        </li>
        <li class="page-item {{ '' if pagination.has_next_block else 'disabled' }}">
          <button type="submit" class="page-link"
            formaction="/users/list/{{ pagination.last_page }}">
            맨 끝
          </button>
        </li>
    </ul>
      </nav>
      <ul class="list-group">
        {% for comodule in comodules %}
        <li class="list-group-item d-flex justify-content-between lh-sm">
          <div>
            <h6 class="my-0">{{comodule.title}}</h6>
            <small class="text-body-secondary">{{comodule.description}}</small>
          </div>
          <span class="text-body-secondary">{{pagination.start_record_number + loop.index}}</span>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %} {% block foot_javascripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var buttons = document.querySelectorAll("#interactiveTable button");
    buttons.forEach(function (button) {
      button.addEventListener("click", function () {
        this.classList.toggle("btn-light");
        this.classList.toggle("btn-primary");
      });
    });
  });
</script>
{% endblock %}
