{% extends "templates/main_template.html" %}

{% block title %}CoModule Details{% endblock %}
{% block customize_css %}
<!-- Include Quill stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.snow.css" rel="stylesheet" />
<style>
    .quill-editor {
        height: 5rem;
    }
</style>
{% endblock %}

{% block main_container %}
<form action="" method="post">
    <div class="row">
        <div class="col-3">
        </div>
        <div class="col-6">
            <div class="form-group mt-2">
                <label for="title">CoModule Title:</label>
                <input type="text" class="form-control" id="title" name="title" required value="Test My CoModule">
            </div>
            <div class="form-group mt-2">
                <label for="language_name">Language ID:</label>
                <input type="text" class="form-control" id="language_name" name="language_name" required
                    value="T-Python">
            </div>
            <div class="form-group mt-2">
                <label for="framework_name">Framework ID:</label>
                <input type="text" class="form-control" id="framework_name" name="framework_name" required
                    value="T-Django">
            </div>
            <div class="form-group mt-2">
                <label for="database_name">Database ID:</label>
                <input type="text" class="form-control" id="database_name" name="database_name" required
                    value="T-MySQL">
            </div>
            <div class="form-group mt-2">
                <label>Docker File Links:</label>
                <div id="docker_files_links" class="quill-editor"></div>
                <input type="hidden" name="docker_files_links_delta" id="docker_files_links_delta">
            </div>
            <div class="form-group mt-2">
                <label>Required Package Versions:</label>
                <div id="required_packages_versions" class="quill-editor"></div>
                <input type="hidden" name="required_packages_versions_delta" id="required_packages_versions_delta">
            </div>
            <div class="form-group m-2 d-flex justify-content-end">
                <input type="hidden" name="main_router" value="{{main_router}}">
                <button type="submit" class="btn btn-primary" formaction="/{{main_router}}/create">
                    Submit
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block foot_javascripts %}
<!-- Include Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var quillDockerLinks = new Quill('#docker_files_links', {
            theme: 'snow'
        });
        var quillPackageVersions = new Quill('#required_packages_versions', {
            theme: 'snow'
        });

        // 테스트 위한 임시 데이터
        // 테스트용 Delta format 값 적용
        var dockerLinksDelta = 'https://raw.githubusercontent.com/gocolab/co_templates/data_analysis/.env\r\n\rhttps://raw.githubusercontent.com/gocolab/co_templates/data_analysis/Dockerfile\r\n\rhttps://raw.githubusercontent.com/gocolab/co_templates/data_analysis/docker-compose.yml\r\n\r\r\n\r';
        var packageVersionsDelta = '\r\n\rDjango\r\n\r\r\n\rReact\r\n\rjupyterlab\r\n\r';

        // Delta 값을 편집기에 적용
        quillDockerLinks.setContents(dockerLinksDelta);
        quillPackageVersions.setContents(packageVersionsDelta);
        // Submit handler
        var form = document.querySelector('form');
        form.onsubmit = function (event) {
            // Populate hidden form on submit
            var dockerLinksDelta = document.querySelector('input[name=docker_files_links_delta]');
            //dockerLinksDelta.value = JSON.stringify(quillDockerLinks.getContents());
            dockerLinksDelta.value = quillDockerLinks.root.innerText;

            var packageVersionsDelta = document.querySelector('input[name=required_packages_versions_delta]');
            //packageVersionsDelta.value = JSON.stringify(quillPackageVersions.getContents());
            packageVersionsDelta.value = quillPackageVersions.root.innerText;

            return true; // return false to cancel form action
        };
    });
</script>

{% endblock %}