{% extends "templates/main_template.html" %}

{% block title %}CoModule Details{% endblock %}
{% block customize_css %}
<!-- Include Quill stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.snow.css" rel="stylesheet" />
<style>
    .quill-editor {
        height: 10rem;
    }

    textarea::placeholder {
        white-space: pre-line;
    }
</style>
{% endblock %}

{% block main_container %}
<form action="" method="post" class="needs-validation" novalidate>
    <div class="row gap-3 px-5">
        <div class="form-group col-12 row">
            <div class="col-4">
                <label class="col form-label">Language:</label>
                <div class="col">
                    <textarea class="form-control quill-editor" name="language_name" id="language_name"
                        placeholder="Python(3.11.9)&#10;JAVA(7)">{{comodule.language_name}}</textarea>
                </div>
            </div>
            <div class="col-4">
                <label class="form-label col" >Framework:</label>
                <div class="col">
                    <textarea class="form-control quill-editor" name="framework_name" id="framework_name"
                        placeholder="Jupyyrt Lab&#10;SpringBoot(3.11)">{{comodule.language_name}}</textarea>
                </div>
            </div>
            <div class="col-4">
                <label class="form-label col" >Database:</label>
                <div class="col">
                    <textarea class="form-control quill-editor" name="database_name" id="database_name"
                        placeholder="MySQL(8)&#10;Mongodb(7)">{{comodule.database_name}}</textarea>
                </div>
            </div>
            <div class="col-12 text-center text-primary small" id="invalid_modules">
                At least one of Language, Framework, or Database must be filled.
            </div>
        </div>
        <div class="form-group col-2 row">
                <label class="form-label">Level:</label>
                <select class="form-select" name="level">
                    <option value="0" {{ 'selected' if comodule.level=='0' else '' }}>
                        Lv. 0</option>
                    <option value="1" {{ 'selected' if comodule.level=='1'
                        else '' }}>
                        Lv. 1</option>
                    <option value="2" {{ 'selected' if comodule.level=='2'
                        else '' }}>
                        Lv. 2</option>
                    <option value="3" {{ 'selected' if comodule.level=='3'
                        else '' }}>
                        Lv. 3
                    </option>
                </select>
        </div>
        <div class="form-group col-10">
            <label class="form-label" for="title">Main Service:</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ comodule.title }}" 
                required placeholder="Login by permissions and shopping cart functionality">
            <div class="invalid-feedback">
                Main Service must be filled.
            </div>
        </div>
        <div class="form-group col-12">
            <label class="form-label">Docker File Links <span class="text-primary small">(Raw file links)</span></label>
            <textarea class="form-control quill-editor" name="docker_files_links" required
                placeholder="https://raw.githubusercontent.com/gocolab/co_templates/data_analysis/.env
                            https://raw.githubusercontent.com/gocolab/co_templates/data_analysis/Dockerfile
                            https://raw.githubusercontent.com/gocolab/co_templates/data_analysis/docker-compose.yml">{{comodule.docker_files_links}}</textarea>
            <div class="invalid-feedback">
                Docker File Links must be filled.
            </div>
        </div>
        <!-- Visibility -->
        <div class="form-group col-12 row">
            <label class="form-label col-2">Share way:</label>
            <div class="col-3">
                <input type="radio" id="visibilityPublic" name="visibility" value="public" class="" {{ 'checked' if
                    comodule.visibility=='public' else '' }}>
                <label for="visibilityPublic" class="">Public</label>
            </div>
            <div class="col-3">
                <input type="radio" id="visibilityPrivate" name="visibility" value="private" class="" {{ 'checked'
                    if comodule.visibility=='private' else '' }}>
                <label for="visibilityPrivate">Private</label>
            </div>
        </div>
        <div class="form-group col-12">
            <label class="form-label">More Description <span class="text-primary small">(Settings for program development or Link)</span> </label>
            <div id="description_delta" class="quill-editor"></div>
            <input type="hidden" name="description" id="description">
        </div>
        <div class="col-12 d-flex justify-content-end">
            <input type="hidden" name="main_router" value="{{main_router}}">
            <div class="form-group">
                {% if comodule.id or (comodule.id and "ADMIN" in request.state.user.roles) %}
                <button type="submit" class="btn btn-danger" formaction="/comodules/update/{{comodule.id}}">
                    Update
                </button>
                {% else %}
                <button type="submit" class="btn btn-danger" formaction="/comodules/insert">
                    Create
                </button>
                {% endif %}
                <a class="btn btn-primary" href="/comodules/main">
                    List
                </a>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block foot_javascripts %}
<!-- Include Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let deltaObject = {{ comodule.description if comodule.description else '{}' | tojson }}; // 서버 사이드 템플릿으로부터 JSON 문자열을 받아옴
        
        // deltaObject 값이 있으면 readOnly와 modules를 설정하고, 그렇지 않다면 기본 설정을 사용합니다.
        let quillSettings = {
            theme: 'snow'
        };
        
        deltaObject = JSON.parse(deltaObject);
    
        let quillDescription = new Quill('#description_delta', quillSettings);

        // Delta 값을 편집기에 적용
        quillDescription.setContents(deltaObject);        
        // Submit handler
        let form = document.querySelector('form');
        form.onsubmit = function (event) {
            let description_delta = document.querySelector('#description');
            description_delta.value = JSON.stringify(quillDescription.getContents());
            return true; // return false to cancel form action
        };

        // JavaScript를 사용한 부트스트랩 검증 활성화
        (function () {
            'use strict'
            let forms = document.querySelectorAll('.needs-validation')

            Array.prototype.slice.call(forms)
                .forEach(function (form) {
                    form.addEventListener('submit', function (event) {
                        let languageName = document.querySelector('#language_name').value;
                        let frameworkName = document.querySelector('#framework_name').value;
                        let databaseName = document.querySelector('#database_name').value;

                        let isOneOfTechFieldsFilled = (languageName || frameworkName || databaseName).length > 0; // 적어도 하나 입력됐는지 확인

                        if (!isOneOfTechFieldsFilled || !form.checkValidity()) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false)
                })
        })()
    });
</script>

{% endblock %}