{% extends "templates/main_template.html"%}
{% block title %}
Debugging Coding Test
{% endblock %}

{% block main_container %}
<form>
  <!-- 검색 항목 추가 필요 -->
  <div class="row">
    <div class="col-2">
      <select class="form-select" name="key_name">
        <option value="title" {{ 'selected' if request._query_params.key_name=='title' else '' }}>title</option>
        <option value="language_name" {{ 'selected' if request._query_params.key_name=='language_name' else '' }}>
          language</option>
        <option value="framework_name" {{ 'selected' if request._query_params.key_name=='framework_name' else '' }}>
          framework</option>
        <option value="database_name" {{ 'selected' if request._query_params.key_name=='database_name' else '' }}>email
        </option>
      </select>
    </div>
    <div class="col-6">
      <input class="form-control" placeholder="Enter Search!" name="word" value="{{request._query_params.word}}">
    </div>
    <div class="col-4">
      <button type="submit" class="btn btn-primary" formaction="/{{main_router}}/list" formmethod="get">검색</button>
      {% if request.state.user and "PARTNER" in request.state.user.roles %}
      <button type="submit" class="btn btn-danger" formaction="/{{main_router}}/form" formmethod="get">Insert</button>
      {% endif %}
    </div>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>No.</th>
        <th>Title</th>
        <th>Language</th>
        <th>Framework</th>
        <th>Database</th>
        <th>Download</th>
        <th>More</th>
      </tr>
    </thead>
    <tbody>
      {% for comodule in comodules %}
      <tr>
        <td>{{pagination.start_record_number + loop.index}}</td>
        <td>
          {% if request.state.user and "PARTNER" in request.state.user.roles %}
          <a href="/{{main_router}}/{{ comodule.id }}" class="text-decoration-none">{{ comodule.title }}</a>
          {% else %}
          {{ comodule.title }}
          {% endif %}
        </td>
        <td>
          {{comodule.language_name}}{{ "(" + comodule.language_version + ")" if comodule.language_version else "" }}
        </td>
        <td>
          {{comodule.framework_name}}{{ "(" + comodule.framework_version + ")" if comodule.framework_version else "" }}
        </td>
        <td>
          {{comodule.database_name}}{{ "(" + comodule.database_version + ")" if comodule.database_version else "" }}
        </td>
        <td class="text-center">
          <a href="/comodules/download/{{ comodule.id }}" class="btn btn-sm btn-info" id="download_all">
            zip <i class="bi bi-cloud-download"></i>
          </a>
        </td>
        <td>
          <button class="btn btn-sm btn-outline-info" data-bs-toggle="tooltip"
            title="pkgs : {{ comodule.required_packages_versions or []|join(',') }}">
            <i class="bi bi-chat-left-dots"></i>
          </button>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endblock %}
  {% block paginations_container %}
  {% include 'templates/pagination_template.html' %}
</form>
{% endblock %}

{% block foot_javascripts %}
<script>
  // 모든 툴팁 활성화
  var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
  var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
    return new bootstrap.Tooltip(tooltipTriggerEl)
  })
</script>
{% endblock %}