{% extends "templates/main_template.html" %}

{% block title %}CoModule Details{% endblock %}

{% block customize_css %}
<!-- Include Quill stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.snow.css" rel="stylesheet" />
<style>
    .quill-editor {
        height: 5rem;
    }
</style>
{% endblock %}

{% block main_container %}
<form action="" method="post">
    <div class="row gap-3 px-5">
        <div class="col-12">
            <strong>Title:</strong> {{ comodule.title }}
        </div>
        <div class="row">
            <div class="col-2"><strong>Language:</strong></div>
            <div class="col-6">{{ comodule.language_name }}</div>
            <div class="col-3">{{ comodule.language_version }}</div>
        </div>
        <div class="row">
            <div class="col-2"><strong>Framework:</strong></div>
            <div class="col-6">{{ comodule.framework_name }}</div>
            <div class="col-3">{{ comodule.framework_version }}</div>
        </div>
        <div class="row">
            <div class="col-2"><strong>Database:</strong></div>
            <div class="col-6">{{ comodule.database_name }}</div>
            <div class="col-3">{{ comodule.database_version }}</div>
        </div>
        <div class="col-12">
            <label class="form-label">
                Docker File Links:
                <a href="/comodules/download/{{ comodule.id }}" class="btn btn-sm btn-info" id="download_all">
                    zip <i class="bi bi-cloud-download"></i>
                </a>
            </label>
        </div>
        <div class="form-group col-12">
            <label class="form-label">Required Package Versions:</label>
            <textarea class="form-control quill-editor" name="required_packages_versions" readonly>{{ comodule.required_packages_versions|default('No package versions provided', true) }}
            </textarea>
        </div>
        <div class="form-group col-12">
            <label class="form-label">Description</label>
            <div id="description_delta" class="quill-editor"></div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" formaction="/{{main_router}}/list" formmethod="get">
                    List
                </button>
                <button type="submit" class="btn btn-danger" formaction="/{{main_router}}/{{ comodule.id }}"
                    formmethod="post">
                    Delete
                </button>
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block foot_javascripts %}
<!-- Include Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let quillDescription = new Quill('#description_delta', {
            theme: 'snow',
            readOnly: true, // 읽기 전용 모드 활성화
            modules: {
              toolbar: false // 툴바 제거
            }
          });
        
        let deltaObject = JSON.parse({{ comodule.description | safe | tojson}});
        quillDescription.setContents(deltaObject);
        let downloadLink = document.querySelector('#download_all');

        downloadLink.addEventListener('click', function (e) {
            e.preventDefault(); // 기본 링크 동작 방지
            window.location.href = downloadLink.getAttribute('href'); // 파일 다운로드 시작
        });
    });
</script>
{% endblock %}