{% extends "templates/main_template.html" %}

{% block title %}CoModule Details{% endblock %}

{% block customize_css %}
<!-- Include Quill stylesheet -->
<link href="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.snow.css" rel="stylesheet" />
<style>
    .quill-editor {
        height: 10rem;
    }
</style>
{% endblock %}

{% block main_container %}
<form action="" method="post">
    <div class="row gap-3 px-5">
        <div class="col-12">
            <strong>Title:</strong> {{ comodule.title }}
        </div>
        <div class="form-group col row">
            <div class="col-4">
                <label for="language_name" class="col form-label">Language:</label>
                <div class="col">
                    <pre class="pre-scrollable border p-2" id="language_name">{{comodule.language_name}}</pre>
                </div>
            </div>
            <div class="col-4">
                <label class="form-label col" for="framework_name">Framework:</label>
                <div class="col">
                    <pre class="pre-scrollable border p-2" id="framework_name">{{comodule.framework_name}}</pre>
                </div>
            </div>
            <div class="col-4">
                <label class="form-label col" for="database_name">Database:</label>
                <div class="col">
                    <pre class="pre-scrollable border p-2" id="database_name">{{comodule.database_name}}</pre>
                </div>
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">
                Docker File Links:
                <a href="/comodules/download/{{ comodule.id }}" class="btn btn-sm btn-info" id="download_all">
                    zip <i class="bi bi-cloud-download"></i>
                </a>
            </label>
            <div class="form-group col-12">
                <pre class="pre-scrollable border p-2" name="docker_files_links">{{comodule.docker_files_links}}</pre>
            </div>
    
        </div>
        <div class="form-group col-12">
            <label class="form-label">Required Package Versions:</label>
            <pre class="pre-scrollable border p-2" name="required_packages_versions" readonly>{{ comodule.required_packages_versions|default('No package versions provided', true) }}
            </pre>
        </div>
        <div class="form-group col-12">
            <label class="form-label">Description</label>
            <div id="description_delta" class="quill-editor"></div>
        </div>
        <div class="col-12 d-flex justify-content-start">
            <div class="form-group">
                <button type="submit" class="btn btn-primary" formaction="/{{main_router}}/list" formmethod="get">
                    List
                </button>
                {% if is_activate_delete %}
                <button type="submit" class="btn btn-danger" formaction="/{{main_router}}/{{ comodule.id }}"
                    formmethod="post">
                    Delete
                </button>
                {% endif %}
            </div>
        </div>
    </div>
</form>
{% endblock %}
{% block foot_javascripts %}
<!-- Include Quill library -->
<script src="https://cdn.jsdelivr.net/npm/quill@2.0.0-beta.0/dist/quill.js"></script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        let quillDescription = new Quill('#description_delta', {
            theme: 'snow',
            readOnly: true, // 읽기 전용 모드 활성화
            modules: {
              toolbar: false // 툴바 제거
            }
          });
        
        let deltaObject = JSON.parse({{ comodule.description | safe | tojson}});
        quillDescription.setContents(deltaObject);
        let downloadLink = document.querySelector('#download_all');

        downloadLink.addEventListener('click', function (e) {
            e.preventDefault(); // 기본 링크 동작 방지
            window.location.href = downloadLink.getAttribute('href'); // 파일 다운로드 시작
        });
    });
</script>
{% endblock %}