{% extends "templates/main_template.html" %}

{% block title %}CoModule Details{% endblock %}

{% block main_container %}
<form action="" method="post">
    <div class="row gap-3 px-5">
        <div class="col-12">
            <strong>Title:</strong> {{ comodule.title }}
        </div>
        <div class="row">
            <div class="col-2"><strong>Language:</strong></div>
            <div class="col-6">{{ comodule.language_name }}</div>
            <div class="col-3">{{ comodule.language_version }}</div>
        </div>
        <div class="row">
            <div class="col-2"><strong>Framework:</strong></div>
            <div class="col-6">{{ comodule.framework_name }}</div>
            <div class="col-3">{{ comodule.framework_version }}</div>
        </div>
        <div class="row">
            <div class="col-2"><strong>Database:</strong></div>
            <div class="col-6">{{ comodule.database_name }}</div>
            <div class="col-3">{{ comodule.database_version }}</div>
        </div>
        <div class="col-12">
            <label class="form-label">
                Docker File Links:
                <a href="/comodules/download/{{ comodule.id }}" class="btn btn-sm btn-info" id="download_all">
                    zip <i class="bi bi-cloud-download"></i>
                </a>
            </label>
            <div class="form-control bg-transparent border-0" readonly>
                {{ comodule.docker_files_links_content }}
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Required Package Versions:</label>
            <div class="form-control bg-transparent border-0" readonly>
                {{ comodule.required_packages_versions_content }}
            </div>
        </div>
        <div class="col-12">
            <label class="form-label">Description:</label>
            <div class="form-control bg-transparent border-0" readonly>
                {{ comodule.description_content }}
            </div>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <button type="submit" class="btn btn-primary" formaction="/{{main_router}}/list" formmethod="get">
                List
            </button>
            <button type="submit" class="btn btn-danger" formaction="/{{main_router}}/{{ comodule.id }}"
                formmethod="post">
                Delete
            </button>
        </div>
    </div>
</form>
{% endblock %}
{% block foot_javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var downloadLink = document.querySelector('#download_all');

        downloadLink.addEventListener('click', function (e) {
            e.preventDefault(); // 기본 링크 동작 방지
            window.location.href = downloadLink.getAttribute('href'); // 파일 다운로드 시작
        });
    });
</script>
{% endblock %}