{% extends "templates/main_template.html"%}

{% block title %}
회원가입
{% endblock %}

{% block css %}
{% endblock %}

{% block main_container %}
<form action="" id="form_first">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="mb-3 mt-3">
                <label for="name" class="form-label">Name:</label>
                <input type="text" class="form-control" placeholder="Enter Name" name="name" id="name">
            </div>
            <div class="mb-3 mt-3">
                <label for="email" class="form-label">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="mb-3">
                <label for="pwd" class="form-label">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="password">
            </div>
            <div class="m-3 d-flex justify-content-end">
                {#
                <button type="submit" class="btn btn-info" formaction="/users/list" formmethod="post">List</button>
                #}
                <button type="submit" class="btn btn-primary" formaction="/users/signup" formmethod="post">
                    Register
                </button>
            </div>
        </div>
    </div>
</form>

{% endblock %}