{% extends "templates/main_template.html"%}

<!-- Customize CSS -->
{% block customize_css %}
<style>
  .vertical-lines-table td,
  .vertical-lines-table th {
    border: none;
    /* Removes default Bootstrap borders */
    border-left: 1px solid #dee2e6;
    /* Adds vertical border to the left of each cell */
    border-right: 1px solid #dee2e6;
    /* Adds vertical border to the left of each cell */
  }

  .vertical-lines-table tr:first-child th {
    border-top: none;
    /* Removes top border for the first row */
  }

  .vertical-lines-table {
    border-collapse: separate;
  }

  .list-group-item:hover {
    background-color: gainsboro;
    /* 마우스 오버 시 배경색 변경 */
    cursor: pointer;
    /* 마우스 오버 시 커서 모양 변경 */
  }
</style>
{% endblock %} 

{% block main_container %}
<div class="row">
  <div class="col-4">
    <table class="table table-sm text-center vertical-lines-table">
      <thead class="">
        <tr>
          <th>Langauge</th>
          <th>Framework</th>
          <th>Database</th>
        </tr>
      </thead>
      <tbody id="interactiveTable">
        {% for comodule in comodules_unique %}
        <tr>
          <td>
            <button type="button" class="btn btn-sm btn-light language">
              {{comodule.language}}
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-light framework">
              {{comodule.framework}}
            </button>
          </td>
          <td>
            <button type="button" class="btn btn-sm btn-light database">
              {{comodule.database}}
            </button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="col-4">
    <div class="col-12">
      <div class="m-2 d-flex justify-content-end">
        <button type="submit" class="btn btn-sm btn-secondary" id="more_comodules_list">
          More <span class="badge bg-success" id="total_records">{{pagination.total_records}}</span>
        </button>
      </div>
      <ul class="list-group">
        {% for comodule in comodules %}
        <li class="list-group-item lh-sm" data-id="{{comodule.id}}">
          <div>
            <h6 class="my-0">{{comodule.title}}</h6>
            <div class="text-body-secondary small">
              {{comodule.language_name}}{{ "(" + comodule.language_version + ")" if comodule.language_version else "" }}
              {{comodule.framework_name}}{{ "(" + comodule.framework_version + ")" if comodule.framework_version else "" }}
              {{comodule.database_name}}{{ "(" + comodule.database_version + ")" if comodule.database_version else "" }}
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="col-4">
    <div class="col-12">
      <div class="m-2 d-flex justify-content-center">
        <div class="btn btn-sm" disabled>Detail</div>
      </div>
      <div class="card card-body" id="detail">
        <div class="row">
          <div class="col-5 fw-bold">Main Service</div>
          <div class="col-7">{{ comodule.title }}</div>
        </div>
        <div class="row">
          <div class="col-5 fw-bold">Language</div>
          <div class="col-7">{{ comodule.language_name }}</div>
        </div>
        <div class="row">
          <div class="col-5 fw-bold">Framework</div>
          <div class="col-7">{{ comodule.framework_name }}</div>
        </div>
        <div class="row">
          <div class="col-5 fw-bold">Database</div>
          <div class="col-7">{{ comodule.database_name }}</div>
        </div>
        <div class="row py-2">
          <div class="col-5 fw-bold">Docker Files</div>
          <div class="col-7">
            <div>
              <a href="/comodules/download/{{ comodule.id }}" class="btn btn-sm btn-info" id="download_all">
                zip <i class="bi bi-cloud-download"></i>
              </a>
            </div>
            {#
            <div>
              {% for link in comodule.docker_files_links %}
              <div>
                <a href="{{ link }}" class="download-link">{{ link.split('/')[-1] }}</a>
              </div>
              {% endfor %}
            </div>
            #}
          </div>
        </div>
        <!-- <div class="row py-2">
          <div class="col-5 fw-bold">Packages</div>
          <div class="col-7">
            {{ comodule.required_packages_versions }}
          </div>
        </div> -->
        <div class="row">
          <div class="col-5 fw-bold">Enroll</div>
          <div class="col-7">
            {{ comodule.create_user_name  | default("", True)}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
{% endblock %} {% block foot_javascripts %}
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
<script>
  let comodules_relative = JSON.parse('{{ comodules_relative | tojson | safe }}');
  document.addEventListener("DOMContentLoaded", function () {
    // Event delegation on the parent list
    document.querySelector('.list-group').addEventListener('click', function (event) {
      let target = event.target;
      while (target != this && !target.matches('.list-group-item')) {
        target = target.parentNode;
      }
      if (target.matches('.list-group-item')) {
        const comoduleId = target.getAttribute('data-id');
        fetchComoduleDetails(comoduleId);
      }
    });
    // Select the button by its ID
    const moreComodulesBtn = document.querySelector('#more_comodules_list');

    // Add a click event listener
    moreComodulesBtn.addEventListener('click', function () {
      // Redirect the user to /comodules/list
      window.location.href = '/comodules/list';
    });

    let buttons = document.querySelectorAll("#interactiveTable button");

    // 상호 관례 따른 button toggle
    function toggleRelatedButtons(clickedButton, attribute) {
      const attributeValue = clickedButton.textContent.trim();
      comodules_relative.forEach(assoc => {
        if (assoc[attribute + '_name'] === attributeValue) {
          buttons.forEach(button => {
            if (button.textContent.trim() === assoc.language_name ||
              button.textContent.trim() === assoc.framework_name ||
              button.textContent.trim() === assoc.database_name) {
              button.classList.toggle("btn-light");
              button.classList.toggle("btn-primary");
            }
          });
        }
      });
    }

    buttons.forEach(function (button) {
      button.addEventListener("click", function () {
        // Determine the type of button clicked based on a data attribute or its position (language, framework, database)
        // For simplicity, this example assumes buttons are distinguishable by their content
        // A better approach would be to use custom data attributes (data-type="language") in your HTML
        const buttonType = button.className.includes('language') ? 'language' :
          button.className.includes('framework') ? 'framework' : 'database';
        button.classList.toggle("btn-light");
        button.classList.toggle("btn-primary");
        // toggleRelatedButtons(this, buttonType);
        // Update the list after state change
        updateList();
      });
    });
  });

  function fetchComoduleDetails(comoduleId) {
    fetch(`/comodules/v1/${comoduleId}`)
      .then(response => response.json())
      .then(data => {
        // 여기에서 comodule의 상세 정보를 처리합니다.
        updateComoduleDetails(data);
      })
      .catch(error => console.error('Error fetching comodule details:', error));
  }

  function updateComoduleDetails(data) {
    // HTML 요소 선택
    const cardBody = document.querySelector('#detail');

    // 새로운 컨텐츠 생성
    const newContent = `
          <div class="row">
            <div class="col-5 fw-bold">Main Service</div>
            <div class="col-7">${data.title}</div>
          </div>
          <div class="row">
            <div class="col-5 fw-bold">Language</div>
            <div class="col-7">${data.language_name}</div>
          </div>
          <div class="row">
            <div class="col-5 fw-bold">Framework</div>
            <div class="col-7">${data.framework_name}</div>
          </div>
          <div class="row">
            <div class="col-5 fw-bold">Database</div>
            <div class="col-7">${data.database_name}</div>
          </div>
          <div class="row py-2">
            <div class="col-5 fw-bold">Docker Files</div>
            <div class="col-7">
              <div>
                <a href="/comodules/download/${data._id}" class="btn btn-sm btn-info" id="download_all">
                  zip <i class="bi bi-cloud-download"></i>
                </a>
              </div>
            </div>
          </div>
          <!-- <div class="row py-2">
            <div class="col-5 fw-bold">Packages</div>
            <div class="col-7">
              ${data.required_packages_versions}
            </div>
          </div> -->
          <div class="row">
            <div class="col-5 fw-bold">Enroll</div>
            <div class="col-7">
              ${data.create_user_name ? data.create_user_name : ""}
            </div>
          </div>
  
    `;

    // 기존 컨텐츠를 새로운 컨텐츠로 교체
    cardBody.innerHTML = newContent;
  }

  // Function to update the list based on the selected buttons
  function updateList() {
    // Find all active buttons for each category
    const activeLanguages = Array.from(document.querySelectorAll('.btn.language.btn-primary')).map(btn => btn.textContent.trim());
    const activeFrameworks = Array.from(document.querySelectorAll('.btn.framework.btn-primary')).map(btn => btn.textContent.trim());
    const activeDatabase = Array.from(document.querySelectorAll('.btn.database.btn-primary')).map(btn => btn.textContent.trim());

    // Construct query parameters
    const queryParams = new URLSearchParams({
      language: activeLanguages.join(','),
      framework: activeFrameworks.join(','),
      database: activeDatabase.join(',')
    });

    // Fetch the updated list
    fetch(`/comodules/v1/list/main?${queryParams}`)
      .then(response => {
        if (!response.ok) {
          throw new Error(`HTTP error! status: ${response.status}`);
        }
        return response.json();
      })
      .then(data => {
        const listGroup = document.querySelector('.list-group');
        listGroup.innerHTML = ''; // Clear existing list
        data.comodules.forEach(comodule => {
          let languageInfo = comodule.language_name + (comodule.language_version ? ` (${comodule.language_version})` : "");
          let frameworkInfo = comodule.framework_name + (comodule.framework_version ? ` (${comodule.framework_version})` : "");
          let databaseInfo = comodule.database_name + (comodule.database_version ? ` (${comodule.database_version})` : "");

          listGroup.innerHTML += `
          <li class="list-group-item lh-sm" data-id="${comodule.id}">
            <div>
              <h6 class="my-0">${comodule.title}</h6>
              <div class="text-body-secondary small">
                ${languageInfo} ${frameworkInfo} ${databaseInfo}
              </div>
            </div>
          </li>`;
        });
        const total_records = document.querySelector('#total_records');
        total_records.innerHTML = data.total_records;
      })
      .catch(error => console.error('Error fetching the list:', error));
  }

</script>

{% endblock %}